resources:
- name: {{ env["name"] }}
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ properties["zone"] }}
    targetSize: {{ properties["size"] }}
    baseInstanceName: {{ properties["baseInstanceName"] }}
    instanceTemplate: {{ properties["instanceTemplate"] }}
