
{% set  NETWORK_NAME = "splunk-sub" %}
{% set  INSTANCE_NAME ="splunk" %}
{% set  SPLUNK_GROUP ="splunk-group" %}
{% set  SPLUNK_ZONE ="europe-west3-b" %}
{% set  SPLUNK_MachineType ="n1-standard-1" %}
{% set  Splunk_temp = "splunk-peer-it"%}
{% set  SPLUNK_SH ="splunk-sh" %}

resources:
- name: {{ SPLUNK_SH }}
  type: vm-configs/vm-splunk-sh.jinja
  properties:
    machineType: {{ SPLUNK_MachineType }}
    zone: {{ SPLUNK_ZONE }}
    network: {{ NETWORK_NAME }}

- name: {{ SPLUNK_SH }}-bastion
  type: vm-configs/vm-splunk-bastion.jinja
  properties:
    machineType: {{ SPLUNK_MachineType }}
    zone: {{ SPLUNK_ZONE }}
    network: {{ NETWORK_NAME }}

- name: {{ Splunk_temp }}
  type: vm-configs/splunk-template.jinja
  properties:
    network: {{ NETWORK_NAME }}
    machineType: {{ SPLUNK_MachineType }}

- name: {{ SPLUNK_GROUP }}
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ SPLUNK_ZONE }}
    targetSize: 4
    baseInstanceName: splunk-peer
    instanceTemplate: $(ref.splunk-peer-it.selfLink)

- name: {{ NETWORK_NAME }}
  type: network-configs/network-template.jinja

- name: {{ NETWORK_NAME }}-firewall
  type: network-configs/firewall-template.jinja
  properties:
    network: {{ NETWORK_NAME }}