resources:
- name: {{ env["name"] }}
  properties:
    description: ''
    properties:
      disks:
      - autoDelete: true
        boot: true
        deviceName: boot
        initializeParams:
          sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1604-xenial-v20180306
        mode: READ_WRITE
        type: PERSISTENT
      machineType: {{ properties["machineType"] }}
      scheduling:
        preemptible: true
      tags:
        items:
          - splunk-pass-{{ properties["password"] }}
          - master-node-{{ properties["masternode"] }}
      metadata:
        dependsOn:
        - splunk-sh
        items:
        - key: startup-script
          value: |
            #!/bin/bash
            apt update && apt upgrade -y && apt install -y htop
            echo "$(ref.{{ properties["masternode"] }}.networkInterfaces[0].accessConfigs[0].natIP)"
            wget -O splunk-7.0.2-03bbabbd5c0f-linux-2.6-amd64.deb 'https://www.splunk.com/bin/splunk/DownloadActivityServlet?architecture=x86_64&platform=linux&version=7.0.2&product=splunk&filename=splunk-7.0.2-03bbabbd5c0f-linux-2.6-amd64.deb&wget=true'
            sudo dpkg -i splunk*.deb
            cd /opt/splunk
            ./bin/splunk start --accept-license
            ./bin/splunk enable boot-start 
            ./bin/splunk edit cluster-config -mode slave -master_uri https://{{ properties["masternode"] }}:8089 -replication_port 9887 -secret {{ properties["password"] }} -auth admin:changeme
            ./bin/splunk restart 
      networkInterfaces:
      - accessConfigs:
        - name: external-nat
          type: ONE_TO_ONE_NAT
        network: $(ref.{{ properties["network"] }}.selfLink)
  type: compute.v1.instanceTemplate