resources:
- name: {{ env["name"] }}
  properties:
    description: ''
    properties:
      disks:
      - autoDelete: true
        boot: true
        deviceName: boot
        initializeParams:
          sourceImage: {{ properties["image"] }}
        mode: READ_WRITE
        type: PERSISTENT
      machineType: {{ properties["machineType"] }}
      scheduling:
        preemptible: true
      tags:
        items:
          - splunk-pass-{{ properties["password"] }}
          - master-node-{{ properties["masternode"] }}
      metadata:
        dependsOn:
        - splunk-sh
        items:
        - key: startup-script
          value: | 
            {{ imports["splunk-peer-temp"]|indent(12)|replace("MASTERNODE",properties["masternode"])|replace("PASSWORD",properties["password"])|replace("DOWNLOAD_LINK",properties["download-link"])}}
      networkInterfaces:
      - accessConfigs:
        - name: external-nat
          type: ONE_TO_ONE_NAT
        network: $(ref.{{ properties["network"] }}.selfLink)
  type: compute.v1.instanceTemplate
