resources:
- name: {{ env["name"] }}
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: {{ properties["image"] }}
    networkInterfaces:
    - network: $(ref.{{ properties["network"] }}.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    scheduling:
      preemptible: true
    tags:
      items:
        - pass{{ properties["password"] }}pass
        - node{{ properties["masternode"] }}node
        - http-server
    metadata:
      dependsOn:
      - splunk-sh
      items:
      - key: startup-script
        value: | 
          {{ imports["bastion"]|indent(12)|replace("MASTERNODE",properties["masternode"])}}
    serviceAccounts:
    - email: $(ref.{{ properties['serviceAccountId'] }}.email)
      scopes:
      - "https://www.googleapis.com/auth/cloud-platform"