
resources:
- name: {{ env["name"] }}
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["machineType"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: {{ properties["image"] }}
    networkInterfaces:
    - network: $(ref.{{ properties["network"] }}.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    scheduling:
      preemptible: true
    tags:
      items:
        - pass{{ properties["password"] }}pass
        - node{{ properties["masternode"] }}node
        - http-server
    metadata:
      dependsOn:
      - splunk-sh
      items:
      - key: startup-script
        value: |
          #!/bin/bash
          apt update && apt upgrade -y  && apt install nginx -y && apt install -y htop 
          echo 'upstream backend {
                  server splunk-sh:8000;
          }
          server {
              listen 80;
              server_name  ~^.*$;
              location / {
                  proxy_pass http://splunk-sh:8000;
              }
          }'> /etc/nginx/conf.d/proxy.conf
          systemctl restart nginx 
          wget -O splunkforwarder-7.0.2-03bbabbd5c0f-linux-2.6-amd64.deb 'https://www.splunk.com/bin/splunk/DownloadActivityServlet?architecture=x86_64&platform=linux&version=7.0.2&product=universalforwarder&filename=splunkforwarder-7.0.2-03bbabbd5c0f-linux-2.6-amd64.deb&wget=true'
          dpkg -i sp*.deb
          cd /opt/splunkforwarder
          ./bin/splunk start --accept-license
          ./bin/splunk enable boot-start




